$verdeFundoNav: rgba(25, 234, 109, 0.836);
$roxoBackground: rgba(74, 46, 252, 0.753);
$roxoFundoForm: rgba(161, 146, 255, 0.507);
$bordaEstilo: 2px solid rgb(143, 140, 140);
$roxoBackgroundLateral: rgba(172, 161, 245, 0.945);
$boxShadow: 2px 2px 10px rgba(24, 24, 24, 0.788);
